# --------------------------
# Web Framework
# --------------------------
fastapi
uvicorn[standard]
pyrebase4
pydantic

# --------------------------
# LangChain Core
# --------------------------
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-pinecone
langchain-ollama

# --------------------------
# Vector DB + Embeddings
# --------------------------
pinecone-client
sentence-transformers

# --------------------------
# Utilities
# --------------------------
python-dotenv
pandas
requests
tqdm
fpdf
vosk
sounddevice